= labelled_form_for @cartridge_category do |f|
  = error_messages_for 'cartridge_category', 'time_entry'
  .box.tabular
    %p= f.text_field :name, :size => 80, :maxlength => 255, :required => true
    %p= f.text_field :type, :size => 80, :maxlength => 255, :required => true
    = hidden_field_tag 'id', @cartridge_category.id
  = submit_tag l(:button_save)
  | #{link_to l(:button_cancel), cartridge_categories_path}