.contextual
  =link_to 'Новый тип картриджа', new_cartridge_category_path, class: "icon icon-add"
%h2 Типы картриджей
%table.list
  %thead
    %tr
      %th #
      %th Наименование
      %th Тип
      %th
  %tbody
    - @cartridge_categories.each do |pc|
      %tr{:class => "#{cycle('odd', 'even')}"}
        %td= pc.id
        %td= pc.name
        %td= pc.type
        %td
          = link_to "", edit_cartridge_category_path(pc), class: 'icon icon-edit'
          = link_to "", cartridge_category_path(pc), method: :delete, data: {confirm: l(:text_are_you_sure)}, class: 'icon icon-del'