<%= form_for(@equipment_set) do |f| %>
    <% if (params[:action]=="new") %>
        <h4>Выберите шаблон оборудования на основе которого будет создан комплект оборудования:</h4>
        <%= f.collection_select(:complectnum, EquipmentSetTemplate.all, :contentid, :name)%>
    <% end %>

    <table >
      <tbody>
      <td>Инвентарный номер комплекта:</td><td><%= f.text_field :invnumber, :required=>true%></td>
      <tr>
        <% if (params[:action]=="edit") %>
            <td>Дата поставки комплекта:</td>
            <td><%= f.text_field :getdate, :required=>true, :disabled=>true, :readonly=>true%></td>
            </tr><tr>
            <td>Дата истечения гарантии: </td>
            <td><%= f.text_field :warrantyenddate, :required=>true, :disabled=>true, :readonly=>true%></td>
            </tr><tr>
        <% end %>
        <td>Место установки комплекта: </td>
        <td><%= f.collection_select(:setplaceid, Institution.all, :id, :fullname)%></td>
      </tr><tr>
        <% if (params[:action]=="edit") %>
            <td>Адрес ОА где установлен комплект: </td>
            <td><%= @equipment_set.location.institution_addresses.first.fulladdres%></td>
            </tr><tr>
            <td>Владелец оборудования: </td>
            <td><%= @equipment_set.owner.fullname%></td>
            </tr><tr>
        <%end%>
        <td>Стоимость комплекта: </td>
        <td><%= f.text_field :cost, :disabled=>true%> рублей. </td>
      </tr>
      </tbody>
    </table>
    <%= f.submit "Сохранить" %>
<% end %>
