<h1>Редактировать комплект:<%= @equipment_set.set_template.name %></h1>
<%= render 'form' %>
<%= link_to 'Показать комплект', equipment_set_path %> |
<%= link_to 'Вернуться к списку комплектов', equipment_sets_path+"?cont_id="+@est %>