<p id="notice"><%= notice %></p>
<h1>Список комплектов оборудования:</h1>

<table class="list">
  <tbody>
  <th>Наименование</th><th>Инвентарный номер</th><th>Место установки</th>
    <% @equipment_sets.each do |equipment_set|  %>
      <tr>
        <td><%= if(equipment_set.set_template.nil?); equipment_set.name else equipment_set.set_template.name end %></td>
        <td><%= equipment_set.invnumber %></td>
        <td><%= @oa.where(id: equipment_set.setplaceid).first.name %></td>
        <td><%= link_to 'Показать', equipment_set %></td>
        <td><%= link_to 'Редактировать', edit_equipment_set_path(equipment_set) , :class => 'icon icon-edit'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'К списку шаблонов', equipment_set_templates_path, :class => 'icon icon-copy'%> |
<%= link_to 'Добавить новый комплек оборудования', new_equipment_set_path, :class =>'icon icon-add' %>

