<p id="notice"><%= notice %></p>
<h1>Комплект оборудования: <%= @equipment_set.set_template.name %></h1>



<table >
  <thead>
  <tr> <th>Инвентарный номер комплекта:</th><td><%= @equipment_set.invnumber%></font></td></tr>
  <tr><th>Дата поставки комплекта:</th><td><%= @equipment_set.getdate%></font></td></tr>
  <tr><th>Дата истечения гарантии:</th><td><%= @equipment_set.warrantyenddate%></font></td></tr>
  <tr><th>Владелец оборудования:</th><td><%= @equipment_set.owner.fullname%></font></td></tr>
  <tr><th>Место установки комплекта:</th><td><%= @equipment_set.location.fullname%></font></td></tr>
  <tr><th>Стоимость комплекта:</th><td><font size="1"><%= @equipment_set.cost%></font></td></tr>
  </thead>
</table>

<h1>
</h1>
<table class="list">
  <thead>
  <th colspan="6"><font size="3">Содержание комплекта:</font> </th> </p></tr>
  <th>Наименование</th><th>Серийный номер</th><th>Тип оборудования</th>
  <th>Дата получения</th><th>Главное оборудрование</th> </tr>
  <% @list_equipment.each do |equipment| %>
      <td> <%= equipment.stationname  %></td>
      <td> <font size="1"><%= equipment.sernumber%></td>
      <td> <font size="1"><%= equipment.equipment_category.name%></td>
      <td> <font size="1"><%= equipment.getdate%></td>
      <td> <font size="1"><%= if(equipment.ownerequipmentid.nil?); "Да" end%></td>
      <td> <font size="1"><%= link_to "редактировать", equipments_path+"/#{equipment.id}/edit_set", :class => 'icon icon-edit'%></td></tr>

  <% end %>
  </thead>
</table>
</p><br><br><br>
<%= link_to 'Редактирование комплекта', edit_equipment_set_path(@equipment_set), :class => 'icon icon-edit' %> |
<%= link_to 'К списку комплетов оборудования', equipment_sets_path+"?cont_id="+@est, :class => 'icon icon-reload'%> |
<%= link_to 'К списку шаблонов', equipment_set_templates_path, :class => 'icon icon-copy'%>
