- case @issue.tracker.category
  - when :tracker_planing
    = render 'issues/common'
  - when :tracker_repair
    %br
    = render 'issues/repair/edit', local_assigns
  - when :tracker_new_cartridge
    = render 'issues/cartridge_new/edit'
  - when :tracker_cartridge
    = render 'issues/cartridge/edit'