- case @issue.tracker.category
  - when :tracker_planing
    = render 'issues/common' 
  - when :tracker_repair
    = render 'issues/repair/show', local_assigns
  - when :tracker_new_cartridge
    = render 'issues/cartridge_new/show'
  - when :tracker_cartridge
    = render 'issues/cartridge/show'