- allow_edit = User.current.allowed_to?({:controller => 'equipments',:action => 'edit'}, @project)
%table.list
  %thead
    %tr
      = sort_header_tag('stationname', :caption => 'Наименование')
      %th Год
      = sort_header_tag('invnumber', :caption => 'Инв. №')
      = sort_header_tag('sernumber', :caption => 'Сер. №')
      = sort_header_tag('remark', :caption => 'Место установки')
      %th В комплекте
      = sort_header_tag('statusid', :caption => 'Статус')
      %th Ремонт
      %th
  %tbody
    - @equipments.each do |e|
      %tr{:class => "hascontextmenu #{cycle('odd', 'even')}"}
        %td= link_to e.stationname, my_equipment_path(@project, e)
        %td= e.getdate.year if e.getdate
        %td= e.invnumber
        %td= e.sernumber
        %td= e.place_name
        %td
          - if e.ownerequipmentid
            = link_to "Да", my_equipment_path(@project, e.ownerequipmentid), :class => 'icon icon-copy'
        %td= e.statusid.nil? ? 'nil' : e.status.name
        %td
          - unless e.service_requests.empty?
            - e.service_requests.each do |sr|
              %p
                = link_to(sr.equipment_request.issue_id, issue_path(sr.equipment_request.issue_id)) if sr.equipment_request && !sr.equipment_request.issue_id.nil?
                |
                = sr.regnum.to_s+'/'+sr.regyear.to_s
                |
                = sr.hotlineregnum ||= 'б/н'
        %td= link_to(l(:button_edit), my_edit_equipment_path(@project, e), :class => 'icon icon-edit') if allow_edit