<h1>Оборудование: <%= @equipment.stationname %></h1>
<%= form_for(@equipment) do |f| %>
    <table >
      <tbody>
      <tr><td> Введите серийный номер: </td>
        <td><%= f.text_field :sernumber%></td>
      </tr>
      <tr><td> Тип оборудования: </td>
        <td><%= f.collection_select(:equipmenttype, @category, :id, :name)%></td>
      </tr>
      </tbody>
    </table>
    <%= f.submit "Сохранить" %>
<% end %>
