<%= form_for(@equipment_unit) do |f| %>
    <table class="list">
      <tbody>
      <% @est=[],[]; a=0 %>
      <% @equipment_templates.each do |et| %>
          <td><%= et.name %></td>
          <td>Введите серийный номер оборудования:</td>
          <td><input type="text" name= a ></td></tr>
          <% @est[a]=et.name, et.contentid; a=a+1 %>
      <% end %>
      </tbody>
    </table>
    <%= f.submit "Сохранить"%>
<% end %>
