<p id="notice"><%= notice %></p>

<h1>Список оборудования входящих в комплекты</h1>

<table>
  <thead>
  <tbody>
    <% @equipment_units.each do |equipment_unit| %>
      <tr>
        <td><%#= equipment_unit.equipment.stationname %></td>
        <td><%= link_to 'Показать', equipment_unit %></td>
        <td><%= link_to 'Редактировать', edit_equipment_unit_path(equipment_unit) %></td>
        <td><%= link_to 'Изменить', equipment_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment unit', new_equipment_unit_path %>
