- if @issue.equipment_request # Связь с оборудованием установлена
  - sr = @issue.equipment_request.service_request
  = form.fields_for sr do |sr_form|

    -if @issue.can_repair_start_edit? && @issue.status_start? || !sr.check2 && @issue.status_write_off? && @issue.user_can_repair_exec_edit?
      = render 'repairs/check1_edit', sr: sr, form: sr_form
    - else
      = render 'repairs/check1_show', check1: sr.check1
      - if sr.check2
        - if @issue.status_write_off? && @issue.user_can_repair_exec_edit?
          = render 'repairs/check2_edit', sr: sr, form: sr_form
        -else
          = render 'repairs/check2_show', check2: sr.check2
    - if !@issue.status_start?
      - if @issue.user_can_repair_exec_edit?
        = render 'repairs/exec_edit',   sr: sr, form: sr_form
      -else
        = render 'repairs/exec_show',   exec: sr.executant