- @news = News.latest(User.current)
- if @news.any?
  .news
    %h3=l(:label_news_latest)
    = render :partial => 'news/news', :collection => @news
    = link_to l(:label_news_view_all), :controller => 'news'