%p
  %label=l(:assigned_to_by_default)
  -s = Setting.plugin_iac['cartridge_assigned_to']
  = select_tag('settings[cartridge_assigned_to]',
                     options_from_collection_for_select(User.sorted.all, "id", "name", Setting.plugin_iac['cartridge_assigned_to']))
%fieldset.box
  %p
    = plugin_setting_select_from_collection :tracker_cartridge, Tracker.all, :blank => :label_none
  %p
    = plugin_setting_select_from_collection :tracker_new_cartridge, Tracker.all, :blank => :label_none