%fieldset.box
  %legend=l(:label_settings_iac_projects)
  .tabular.settings
    %p
      = plugin_setting_select_from_collection :main_tp_project, Project.all, :blank => :label_none
    %p
      = plugin_setting_select_from_collection :common_tp_project, Project.new_for_tp, :blank => :label_none
%fieldset.box
  %legend=l(:label_settings_iac_trackers)
  %p
    = plugin_setting_select_from_collection :tracker_recovery, Tracker.all, :blank => :label_none
  %p
    = plugin_setting_select_from_collection :tracker_administration, Tracker.all, :blank => :label_none
  %p
    = plugin_setting_select_from_collection :tracker_unscheduled, Tracker.all, :blank => :label_none
  %p
    = plugin_setting_select_from_collection :tracker_planing, Tracker.all, :blank => :label_none
-#%table.attributes
-#  %tr
-#    %th Укажите трекер "Восстановление работоспособности"
-#    %td= select_tag("settings[tracker_recovery]", options_from_collection_for_select(Tracker.all, "id", "name", Setting.plugin_iac['tracker_recovery']))
-#  %tr
-#    %th Укажите трекер "Настройка и администрирование"
-#    %td= select_tag("settings[tracker_administration]", options_from_collection_for_select(Tracker.all, "id", "name", Setting.plugin_iac['tracker_administration']))
-#  %tr
-#    %th Укажите трекер "Внеплановое обновление"
-#    %td= select_tag("settings[tracker_unscheduled]", options_from_collection_for_select(Tracker.all, "id", "name", Setting.plugin_iac['tracker_unscheduled']))