<%= form_for @equipment_set_template do |f| %>
    <table >
      <tbody>
      <tr>
        <td>Введите наименование комплекта шаблона:</td>
        <td><%= f.text_field :name, :required =>true%></td>
      </tr><tr>
        <td>Дата поставки комплекта:</td>
        <td><%= date_field_tag(:addvarchar_1, Date.today)%></td>
      </tr><tr>
        <td>Дата истечения гарантии:</td>
        <td><%= date_field_tag(:addvarchar_2, Date.today)%></td>
      </tr><tr>
        <td> Стоимость комплекта: </td>
        <td><%= f.text_field :addvarchar_3%> рублей.</td>
      </tr><tr>
        <td> Владелец оборудования: </td>
        <td><%= f.collection_select(:va_code_int, Institution.where(id: [56,156697,156705,70000,70061]), :id, :fullname)%></td>
      </tr>
      </tbody>
    </table>
    <%= f.submit "Сохранить" %>
<% end %>
