<h1>  Шаблон комплекта: <%= @equipment_set_template.name%> </h1>
<%=render 'form' %></p><br><br>

<%= link_to 'Просмотр коплекта шаблона оборудования', @equipment_set_template, :class => 'icon icon-reload' %> |
<%= link_to 'К списку комплектов шаблона оборудования', equipment_set_templates_path, :class => 'icon icon-copy' %>





