<p id="notice"><%= notice %></p>
<h1 align="center">Список шаблонов оборудования</h1>
<table class="list">
  <thead>
    <th> Наименование </th><th> Количество комплектов созданное <br> по данному шаблону </th>
    <th> Дата получения комплектов </th><th> Дата истечения гарантии </th>
  </thead>
  <tbody>
    <% @equipment_set_templates.each do |est| %>
      <td><%= link_to est.name, est, :class => 'icon icon-show'%></td>
      <% if (est.equipment_template.first.equipment_unit.count>0);%>
          <% swich_del=1  %>

          <td><%= link_to est.equipment_template.first.equipment_unit.count, equipment_sets_path+"?cont_id="+est.contentid.to_s%></td>
      <% else %>
          <td> - </td>
      <% end%>
      <td> <%= if(est.addvarchar_1.nil?); "-" else est.addvarchar_1 end%> </td>
      <td> <%= if(est.addvarchar_2.nil?); "-" else est.addvarchar_2 end%> </td>
      <td><%= link_to 'Редактировать', edit_equipment_set_template_path(est), :class => 'icon icon-edit' %></td>
      <%if(swich_del==1) %>
          <% swich_del=0 %>
          <td> - </td>
      <% else %>
          <td><%= link_to 'Удалить', est, :class => 'icon icon-del', method: :delete, data: {confirm: 'Вы уверены что хотите удалить шаблон оборудования?' } %>
      <%end%>
      </td></tr>
  <%end%>
  </tbody>
</table>
</p>
<%= link_to 'Создать новый шаблон комплекта оборудования', new_equipment_set_template_path, :class =>'icon icon-add'%>



