<p id="notice"><%= notice %></p>
<h1> Шаблон:  <%= @equipment_set_template.name%> </h1><p></p>
<table width="60%">
  <thead>
  <tr>
    <td>Дата получения комплекта: </td>
    <td><%=if(@equipment_set_template.addvarchar_1.nil?); else @equipment_set_template.addvarchar_1.sub("00:00","")end%></td>
  </tr><tr>
    <td>Дата истечения срока гарантии: </td>
    <td><%=if(@equipment_set_template.addvarchar_2.nil?); else @equipment_set_template.addvarchar_2.sub("00:00","")end%></td>
  </tr><tr>
    <td>Первоночальная стоимость комплекта: </td>
    <td><%=@equipment_set_template.addvarchar_3 %></td>
  </tr><tr>
    <td>Владелец: </td>
    <td><%= if(@equipment_set_template.va_code_int.nil?); else Institution.where(id:@equipment_set_template.va_code_int).first[:fullname] end %></td>
  </tr>
  </thead>
</table>
<br>
<%= link_to '-Загрузить новое оборудование-', equipment_set_template_path+"/upload"%>
<p><br>
<% if(@equipment_set_template.equipment_template.first.equipment_unit.count>0) %>
      <% swich_del=1  %>
    <%= link_to 'Список оборудования загруженого с помощью шаблона', equipment_sets_path+"?cont_id=#{@equipment_set_template.contentid}", :class => 'icon icon-copy'%>
<% end %>
</p><br><br>
<table class="list">
  <thead>
  <th colspan="4"><font size="3">Содержание шаблона комплекта оборудования</font> </th> </tr>
  <th> Идентификатор </th><th> Наименование </th><th> Тип оборудования </th> <th> Главное оборудрование </th> </tr>
  <% sum_template=@equipment_set_template.equipment_template.count %>
  <% @equipment_set_template.equipment_template.each do |est| %>
      <td> <%= est.contentid %></td>
      <td> <%= link_to est.name, equipment_template_path(est.contentid) %></td>
      <td> <font size="1"><%= est.equipment_category.name%></font> </td>
      <td><%if(est.addinteger_3 ==1)%><font size="1">Да</font><%end%></td>
      <td><% unless( swich_del==1) %>
            <%=if (sum_template>1); link_to 'Удалить', est,:class => 'icon icon-del', method: :delete, data: {confirm: 'Вы уверенны что хотите удалить шаблон оборудования?'}end%>
        <% end %>
      </td></tr>
  <% end %>
  </thead>
</table>
</p><br>
<% if (@equipment_set_template.equipment_template.first.equipment_unit.count<=0);%>
      <%=link_to 'Добавить новое оборудование шаблона', new_equipment_template_path(est_name: @equipment_set_template.name, va_code_int: params[:id]), :class => 'icon icon-add'%></p><br><br>
<% end%>


<%= link_to 'Редактирование шаблона', edit_equipment_set_template_path(@equipment_set_template),:class => 'icon icon-edit' %> |
<%= link_to 'К списку комплектов шаблонов оборудования', equipment_set_templates_path, :class => 'icon icon-copy' %>
