<h1 align="center"> Загрузка оборудования </h1>
<h2> Шаблон:  <%= @equipment_set_template.name%> </h2>
</p>
<%= form_tag({action: :upload}, multipart: true) do %>
    <%= file_field_tag 'item_list' %>
    <%= submit_tag "Загрузить" %>
<% end %>
<% unless(@error_equipment.nil?) %> </p><br><br><br>
    <font size="5" color="red" align="center">Список техники которая уже есть в базе, удалите повторяющуюся технику с CSV и повторите попытку</font>
    </p><br>
    <font size="1" color="#00008b" face="Arial"><%= @error_equipment %></font>
    </p><br>
    <%= link_to 'Сохранить инвентарные номера техники которая есть в базе', equipment_set_template_path+"/error_inv_exel" %>
<% end %>


</p>
<br><br>



<%= link_to 'Просмотр содержимого комплекта', equipment_set_template_path, :class => 'icon icon-show' %> |
<%= link_to 'К списку комплектов шаблона оборудования', equipment_set_templates_path, :class => 'icon icon-copy' %>

