- if @project.name == 'Техподдержка'|| @project.name == 'ФГБУ'
- else
  =form_tag( project_path(@project) + "/make_formular/", :method => :get) do
    = date_field_tag 'from', :from
    = date_field_tag 'to', :to
    = submit_tag "Сформировать формуляр"
  %p
    = link_to 'Паспорт ТС',  project_path(@project)+'/make_pasport'
- current_year = Time.now.year
- (2015..current_year).each do |year|
  - last_month = year==current_year ? Time.now.month.to_i : 12
  %p
    %b= "Документация за #{year}й год:"
  - if @project.name == 'Техподдержка'
    %p
      = "Квартальные отчеты CO-3 в формате xlsx с наростающим:"
      = (1..4).collect{|num| link_to num, controller: :excel,  action: :make_co3, year: year, num: num}.join(', ').html_safe
    %p
  - else
    %p
      = "Акты СО-3 за #{year}й год:"
      - (1..last_month).each do |month|
        = link_to month, project_path(@project) + "/act_co3/#{year}/#{month}" #, remote: true
        = ', ' unless month == last_month
    %p
      Шаблоны Актов СО-6:
      - if year==2015
        = link_to '28', project_path(@project)+'/co6/28'
        = ', '
        = link_to '29',  project_path(@project)+'/co6/29'
      - if year==2016
        = link_to '30',  project_path(@project)+'/co6/30'
        = ', '
        = link_to '31',  project_path(@project)+'/co6/31'
      - if year==2017
        = link_to '32',  project_path(@project)+'/co6/32'
        = ', '
        = link_to '33',  project_path(@project)+'/co6/33'
      - if year==2018
        = link_to '34',  project_path(@project)+'/co6/34'
        = ', '
        = link_to '35',  project_path(@project)+'/co6/35'
      - if year==2019
        - if @project.oa_code.include?('GV')
          = link_to '36-gvs',  project_path(@project)+'/co6/36-gvs'
        - else
          = link_to '36',  project_path(@project)+'/co6/36'
        %p
          = link_to 'Присяжные',  project_path(@project)+'/co6/p'
