<%= form_for(@equipment_template) do |f| %>
    <%= if(@equipment_template.va_code_int== nil);f.hidden_field :va_code_int, :value => params[:va_code_int]end%>
    <%= f.hidden_field :addinteger_3, :value => @equipment_template.addinteger_3%>
    Введите наименование шаблона оборудования: <%= f.text_field :name, :required =>true%></p>
    Тип оборудования: <%= f.collection_select(:addinteger_1, EquipmentCategory.all, :contentid, :name) %></p>
    Главное оборудование комплекта:
    <%=if(@equipment_template.addinteger_3 == 1 ); "да" else f.check_box (:addinteger_3)  end  %></p>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.submit "Сохранить" %>
<% end %>
