<h1>Редактировать шаблон оборудования: <%=@equipment_template.name%></h1></p>
    <%= render 'form' %>
<br><br><br>
  <%= link_to 'Просмотр шаблона оборудования', @equipment_template , :class => 'icon icon-reload'%> |
  <%= link_to ' К списку шаблонов оборудования', equipment_templates_path , :class => 'icon icon-copy'%>
  <br><br>
