<p id="notice"><%= notice %></p>
<%= link_to 'К списку комплектов шаблонов оборудования', equipment_set_templates_path, :class => 'icon icon-copy' %></p>
<h2 align="center">Список шаблонов оборудования:</h2>
<table class="list">
  <tbody>
  <% @equipment_templates.each do |e_t| %>
      <td><%= e_t.name%></td>
      <td><%= link_to 'Показать', e_t%></td>
      <td><%= link_to 'Редактировать', edit_equipment_template_path(e_t), :class => 'icon icon-edit'%></td></tr>
  <% end %>
  </tbody>
</table>
