<h1>Новое оборудование комплекта шаблонов: <%= params[:est_name] %></h1>
<%= render 'form' %></p>
  <%= link_to 'Просмотр шаблона коплекта оборудования', equipment_set_template_path(params[:va_code_int]), :class => 'icon icon-reload' %> |
<%= link_to 'Редактировать шаблон комплекта', edit_equipment_set_template_path(params[:va_code_int]) %> |
<%= link_to 'К списку коплектов ', equipment_set_templates_path %>

