<p id="notice"><%= notice%></p>
<h1>Шаблон оборудования: <%=@equipment_template.name%></h1>
&nbsp;&nbsp;&nbsp; &mdash; Тип оборудования: <%=@equipment_template.equipment_category.name%></p>
&nbsp;&nbsp; &nbsp;&mdash; Главное оборудование шаблона: <%=@leading%></p>
&nbsp;&nbsp; &nbsp;&mdash; Входит в комплект шаблона:
<%=link_to @equipment_template.equipment_set_template.name, equipment_set_template_path(@equipment_template.va_code_int)%></p><br>
<%= link_to'Редактировать шаблон оборудования', edit_equipment_template_path(@equipment_template), :class =>'icon icon-edit'%> |

<%= link_to 'К списку комплектов шаблона оборудования', equipment_set_templates_path, :class => 'icon icon-copy' %>