%table.list
  %thead
    %tr
      %th Наименование
      %th Подходит для принтеров
      %th Тип картриджа
      %th
  %tbody
    - @organization.organization_cartridges.each do |c|
      %tr{class: "#{cycle('odd', 'even')}"}
        %td=c.name
        %td=c.printers
        %td=c.category
        %td=link_to '', remove_cartridge_organization_path(@organization, cartridge_id: c), :class => 'icon icon-del'
%hr
%p Доступные картриджи
=form_tag({}) do
  = hidden_field_tag 'back_url', url_for(params), :id => nil
  .autoscroll
    %table.list
      %thead
        %tr
          %th #
          %th Наименование
          %th Подходит для принтеров
          %th Тип картриджа
          %th
      %tbody
        - @cartridge_categories.each do |cc|
          %tr.hascontextmenu{class: "#{cycle('odd', 'even')}", id: "category-#{cc.id}"}
            %td.checkbox.hide-when-print=check_box_tag("ids[]", cc.id, false, :id => nil)
            %td=cc.name
            %td=cc.printers
            %td=cc.category
            %td=link_to '', add_cartridge_organization_path(@organization, cartridge_id: cc), :class => 'icon icon-add'
= context_menu url_for({:controller => "organizations", :action => "context_menu"})