<ul>
  <% if User.current.allowed_to?(:cartridge_make_application, @organization.project) %>
    <li><%= context_menu_link('Добавить', {:controller => 'organizations', :action => 'add_cartridge', :ids => @ids}, :class => 'icon-edit', :method => :get) %></li>
  <% end %>
</ul>
