%h2 Редактирование организации
= form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        Ошибки возникшие в момент сохранения:
      %ul
        - @organization.errors.full_messages.each do |message|
          %li= message

  .content.issue
    = render 'form', f: f
  = f.submit l(:button_submit)
= link_to 'Отменить', organization_path(@organization)

