%h2 Создание организации
= form_for @organization do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        Ошибки возникшие в момент сохранения:
      %ul
        - @organization.errors.full_messages.each do |message|
          %li= message
  .content.issue
    %fieldset.tabular
      %legend Основная информация об организации
      %table.attributes
        %style
          th{width:22%;}
          td{width:28%;}
          input[type="text"]{width: 95%;}
        = fields_rows do |r|
          -r.left 'Выберите запись организации CIA', f.select(:oa_id_iac, @institutions.collect{|p|[p.name, p.id]})
          -r.left 'Выберите проект', f.select(:project_id, @pr.collect{|p|[p.name, p.id]})
          -r.left 'Тип организации', f.select(:organization_category_id, OrganizationCategory.all.collect{|p|[p.org_name, p.id]})
          -#-r.left 'Наименование',           f.text_field(:name)
          -#-r.left 'Наименовние организации (РП)', f.text_field(:name_r)
          -#-r.left 'Проект',                (link_to_project(@organization.project)  if @organization.project)
          -#-r.left 'Тип организации',       (@organization.organization_category.org_name if @organization.organization_category)
          -#-r.left 'Vin-код',               f.text_field(:code)
          -#-r.left 'ID CIA',                f.text_field(:oa_id_iac)
          -#-r.left 'ID USD',                f.text_field(:oa_id_usd)
          -#-r.left 'Телефонный код',        f.text_field(:phone_code)
          -#-r.left 'Населенный пункт',      f.text_field(:district_name)
          -#-r.left 'Адрес',                 f.text_field(:address)
          -#-r.left 'Телефон',               f.text_field(:telefone)
          -#-r.right 'Руководитель полностью',       f.text_field(:head_name)
          -#-r.right 'Руководитель полностью (РП)',  f.text_field(:head_name_r)
          -#-r.right 'Руководитель сокращенно',      f.text_field(:head_short_name)
          -#-r.right 'Руководитель сокращенно (РП)', f.text_field(:head_short_name_r)
          -#-r.right 'Штатная численность суда',     f.text_field(:full_time_staff)
          -#-r.right 'Штатная численность судей',    f.text_field(:count_of_judges)
          -#-r.right 'Ответственный инженер',        (link_to_user(User.find(@organization.project.cf_by_name('Ответственный инженер'))) if @organization.project)
  = f.submit l(:button_submit)
= link_to 'Отменить', organizations_path