- html_title(l(:label_organizations), @organization.name)
.contextual
  = link_to 'Редактировать', edit_organization_path(@organization), class: 'icon icon-add'
.issue
  = render_tabs organization_tabs