- current_user = User.current
- user_fgbu = current_user.allowed_to?(:cartridge_process_application, @project)
- user_oa = current_user.allowed_to?(:cartridge_make_application, @project)
- status_num = @issue.status_cartridge_order

%h4 Список картриджей на заправку
- if !@issue.common?&&(user_oa&&(status_num==1) || user_fgbu&&[1,2].include?(status_num))
  = render 'issues/cartridge_new/edit_new'
- elsif !@issue.common?&&user_fgbu&&(status_num==5)
  = render 'issues/cartridge_new/edit_end'
- else
  = render 'issues/cartridge_new/list_show', by_type: false, cartridges: @issue.issue_cartridges
- content_for :header_tags do
  = javascript_include_tag 'cartridges_new', :plugin => 'iac'
