.autoscroll
  %table#foo.list
    %thead
      %tr
        = content_tag('th', h('Наименование'))
        = content_tag('th', h('Тип'))
        = content_tag('th', h('Количество'))
    %tbody
      - @issue.organization.organization_cartridges.ordered.each do |c|
        - cartridge = @issue.cartridge(c.cartridge_category_id)
        %tr{:class => "#{cycle('odd', 'even')}", :id => "cartridge-#{c.cartridge_category_id}"}
          %td= c.name
          %td= c.category
          %td= number_field_tag("cartridges[#{c.cartridge_category_id}][num]", cartridge ? cartridge.num : 0 , min: 0)