.autoscroll
  %table#foo.list
    %thead
      %tr
        = content_tag('th', h('Наименование'))
        = render 'issues/cartridge_new/list_header'
    %tbody
      - @issue.issue_cartridges.each do |ic|
        %tr{id: "cartridge-#{ic.cartridge_id}", class: "#{cycle('odd', 'even')}"}
          %td= ic.name
          %td= ic.category
          %td{id: "num_#{ic.cartridge_id}"}= ic.num
          %td= number_field_tag("cartridges[#{ic.cartridge_id}][filled]"  , ic.filled   ? ic.filled  : ic.num , min: 0, max: ic.num, disabled: true)
          %td= number_field_tag("cartridges[#{ic.cartridge_id}][restored]", ic.restored ? ic.restored : 0     , min: 0, max: ic.num, onchange:"ff(this,0)")
          %td= number_field_tag("cartridges[#{ic.cartridge_id}][killed]"  , ic.killed   ? ic.killed   : 0     , min: 0, max: ic.num, onchange:"ff(this,1)")