.autoscroll
  %table.list
    %thead
      %tr
        - unless by_type
          = content_tag('th', h('Наименование'))
        = render 'issues/cartridge_new/list_header'
    %tbody
      - cartridges.each do |ic|
        %tr{:class => "#{cycle('odd', 'even')}", :id => by_type ? "category-#{ic.category}" : "cartridge-#{ic.cartridge_id}"}
          - unless by_type
            %td= ic.name
          = render 'issues/cartridge_new/list_item', ic: ic, mark: by_type ? 'count' : ic.id