- tanker = User.current.allowed_to?(:cartridge_process_application, @project) || User.current.allowed_to?(:tanker, @project) #Заправщик
%hr/
%h3 Список картриджей на заправку
= render 'issues/cartridge_new/list_show', by_type: false, cartridges: @issue.common? ? @issue.issue_cartridges_descendants : @issue.issue_cartridges
%h4 Список картриджей по типам на заправку
= render 'issues/cartridge_new/list_show', by_type: true, cartridges: @issue.cartridges_new_by_type
- if @issue.status_cartridge_order == 2 && !@issue.common? && tanker
  = button_to "Принять", "#{issue_path(@issue)}/receive_cartridges", class: 'button', method: 'get'
%h4 Документы на печать
- request_name = @issue.common? ? 'common_request_for_cartridges' : 'request_for_cartridges'
- if @issue.status_cartridge_order > 1
  = button_to "Заявка", "#{issue_path(@issue)}/cartridges/#{request_name}.rtf", class: 'button', method: 'get'

-#- if @issue.common?&&( @issue.status_cartridge_order > 1)
-#  = button_to "Список для отчета", "#{issue_path(@issue)}/cartridges/quarter_report_on_cartridges.rtf", class: 'button', method: 'get'


